/*************************
 * CSS variables
 *************************/

:root {
  // Colors
  --color-ink-primary     : hsl(240deg,  15%,  15%);
  --color-ink-secondary   : hsl(240deg,  15%,  55%);
  --color-bg-primary      : hsl(240deg,  15%, 100%);
  --color-bg-secondary    : hsl(240deg,  15%,  97%);
  --color-line-primary    : hsl(240deg,  15%,  95%);
  --color-line-secondary  : hsl(240deg,  15%,  92%);
  --color-accent-primary  : hsl( 24deg, 100%,  50%);
  --color-accent-secondary: hsl( 48deg, 100%,  50%);
  --color-accent-bg       : hsl( 24deg, 100%,  97%);
  --color-error-primary   : hsl(350deg, 100%,  40%);
  --color-error-bg        : hsl(350deg, 100%,  97%);
  
  // Box shadows
  --elevation-shadow-color: 240deg, 15%, 15%;
  --elevation-shadow-1:
    0px   3px   8px hsla(var(--elevation-shadow-color), 6%),
    0px 1.5px   4px hsla(var(--elevation-shadow-color), 6%),
    0px   1px   2px hsla(var(--elevation-shadow-color), 6%),
    0px 0.5px   1px hsla(var(--elevation-shadow-color), 6%),
    0px   0px 0.5px hsla(var(--elevation-shadow-color), 8%);
  --elevation-shadow-2:
    0px   8px  16px hsla(var(--elevation-shadow-color), 4%),
    0px   4px  12px hsla(var(--elevation-shadow-color), 4%),
    0px   2px   8px hsla(var(--elevation-shadow-color), 4%),
    0px   1px   4px hsla(var(--elevation-shadow-color), 4%),
    0px   0px 0.5px hsla(var(--elevation-shadow-color), 8%);
  --elevation-shadow-3:
    0px  16px  24px hsla(var(--elevation-shadow-color), 2%),
    0px   8px  12px hsla(var(--elevation-shadow-color), 2%),
    0px   6px   8px hsla(var(--elevation-shadow-color), 2%),
    0px   4px   6px hsla(var(--elevation-shadow-color), 3%),
    0px   0px 0.5px hsla(var(--elevation-shadow-color), 8%);
  
  // Scrollbar width
  // https://destroytoday.com/blog/100vw-and-the-horizontal-overflow-you-probably-didnt-know-about
  --scrollbar-width: 0px;  /* default/fallback value */
}

:root[class~='dark'] {
  --color-ink-primary     : hsl(240deg,  12%, 100%);
	--color-ink-secondary   : hsl(240deg,  12%,  65%);
	--color-bg-primary      : hsl(240deg,  15%,  15%);
	--color-bg-secondary    : hsl(240deg,  15%,  10%);
	--color-line-primary    : hsl(240deg,  12%,  24%);
	--color-line-secondary  : hsl(240deg,  12%,  20%);
	--color-accent-primary  : hsl( 24deg, 100%,  50%);
	--color-accent-secondary: hsl( 24deg, 100%,  85%);
	--color-accent-bg       : hsl( 24deg,  55%,  20%);
	--color-error-primary   : hsl(350deg, 100%,  45%);
	--color-error-bg        : hsl(350deg, 100%,  10%);
}
